#title-container{
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}
.grid-box {
    width: 20px;
    height: 20px;
    background: pink;
}

#grid-container {
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    background: black;
}